body
{
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0;
}

.small
{
    font-size: 25px;
    color: black;
}

.large
{
    font-size: 40px;
    color: crimson;
}

.Red
{
    color: crimson;
}

.Versity
{
    color: crimson;
}

section
{
   
    margin-bottom: 100px;
}


.intro
{
    width: 70%;
    padding-left: 10%;
    
}

.intro img
{
    width: 90%;
    height: 80%;
    padding-top: 15%;
}

.Hire_Me
{
    text-decoration: none;
    background-color: crimson;
    padding: 3px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.About-Me
{
    background-image: linear-gradient(white,white);
    background-repeat: no-repeat;
    background-size: 500%;
    display: flex;
}

.second-slide
{
    display: flex;
    background-image: url(background-with-red-and-white-color-free-vector.jpeg);
    background-repeat: no-repeat;
    background-position: left;
}


.parents
{
    display: flex;
    
   
    
}

.font
{
    margin-left: 25px;
    font-size: xx-large;
    color: crimson;
    
}

.shadow
{
    margin: 20px 20px;
    box-shadow:10px 10px 10px 10px gray; 
    padding: 10px 10px;
   
    

}
.Skill
{
    background-image: url(462751.jpeg)
    
    
}

.parents2
{
    display: flex;
}

.parents3
{
    display: flex;
}
#one
{
    border-top: 4px solid;
    border-left: 4px solid;
    border-image: linear-gradient(blue, white);
    border-image-slice: 2;
}

#two
{
    border-top: 4px solid;
    border-left: 4px solid;
    border-image: linear-gradient(yellowgreen, white);
    border-image-slice: 2;
}

#three
{
    border-top: 4px solid;
    border-left: 4px solid;
    border-image: linear-gradient(rgb(255, 0, 4), white);
    border-image-slice: 2;
}

#four
{
    border-top: 4px solid;
    border-left: 4px solid;
    border-image: linear-gradient(rgb(255, 217, 0), white);
    border-image-slice: 2;
}

#five
{
    border-top: 4px solid;
    border-left: 4px solid;
    border-image: linear-gradient(rgb(0, 217, 255), rgb(218, 219, 226));
    border-image-slice: 2;
}

#six
{
    border-top: 4px solid;
    border-left: 4px solid;
    border-image: linear-gradient(rgb(26, 191, 105), rgb(255, 255, 255));
    border-image-slice: 2;
}

footer p {
    text-align: center;
    font-size: smaller;
    
}
